input::-webkit-input-placeholder {
  font-size: 1rem;
}

input[type="color"]:hover {
  cursor: pointer;
}

.jumbotron {
 padding: 0 !important;
 margin: 0 !important;
}

.nav-item {
  display: flex !important;
 }

.nav-link {
  margin: auto !important;
}

.flex-container {
  display: flex !important;
}

.int-container {
  margin: auto !important;
  padding: 10px !important;
  color: white !important;
}

html, body {
    height: 100%;
  /* background-color: #333 !important; */
  font-family: Sportypo !important;
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); 
  get some examples here: https://getbootstrap.com/docs/4.0/examples/cover/#
  */
  /* color: #fff;
  justify-content: center;
  display: flex; */
}
#root {
  height: 100vh;
}

.backcolor {
  background-color: #333 !important;
}

.standard-font {
  font: 1em Horizon !important;
}

@font-face {
  font-family: "Sportypo";
  src: local('Sportypo'), url(./fonts/Sportypo.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Sportypo';
  src: local('Horizon'), url(./fonts/Horizon.otf) format('opentype');
  unicode-range: U+0030-0039;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
/* 
.navbar{ 
  text-transform: capitalize !important;
} */