input::-webkit-input-placeholder {
  font-size: 1rem;
}

input[type="color"]:hover {
  cursor: pointer;
}

.jumbotron {
 padding: 0 !important;
 margin: 0 !important;
}

.nav-item {
  display: flex !important;
 }

.nav-link {
  margin: auto !important;
}

.flex-container {
  display: flex !important;
}

.int-container {
  margin: auto !important;
  padding: 10px !important;
  color: white !important;
}

.text-white {
  /*color: white !important;*/
}

html, body {
    height: 100%;
    /*color: white !important;*/
  background: #d3e3ff !important;
  font-family: BrickShapers !important;
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); 
  get some examples here: https://getbootstrap.com/docs/4.0/examples/cover/#
  */
  /* color: #fff;
  justify-content: center;
  display: flex; */
}
#root {
  height: 100vh;
}

.backcolor {
  background-color: black !important;
}

.brick-font {
  font-family: BrickShapers !important;
}

@font-face {
  font-family: "BrickShapers";
  src: local('BrickShapers'), url(./fonts/BrickShapers.otf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.lb-b-background {
/* https://cssgradient.io/ background: rgb(2,0,36), */
background: black;
}

.text-black {
  color: black !important;
}

.sss-card {
   
}

.sss-card img {
  width: 200px;
  height: 200px;
}

.sss-card .sss-card-big {
  font-size: 5em !important;
}

.sss-card .sss-card-title {
  font-size: 3em !important;
}

.sss-card .sss-card-text {
  font-size: 2em !important;
}

.button-text {
  font-size: 2em !important;
}

.navbar-brand {
  font-size: 3em !important;
}

.nav-link {
  font-size: 2em !important;
}

/* 
.navbar{ 
  text-transform: capitalize !important;
} */